@using MyMobileShopping.Models;
@Model ProductsViewModel
<div class="row">

    @foreach (var product in Model.Products)
    {
        <div class=" col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h3>@product.Name</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <h4 class="text-center" data-amount="@product.Amount">Rs. @product.Amount</h4>
                    </div>
                    <div class="panel-footer">
                        <center>
                            <button class="btn btn-primary cart-button">
                                <span class="glyphicon glyphicon-shopping-cart">Add To Cart</span>
                            </button>
                        </center>

                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div id="popupmodal">

</div>
@section scripts{
    <script src="~/Scripts/Product.js"></script>
}

