label {
    font-size: 19px;
}

input[type=radio] {
    border: 0px;
    width: 50%;
    max-width: 80px;
    height: 22px;
}

.checkOut {
    text-align: center;
    border-radius: 10px;
    padding: 10px 20px;
}

.btn-primary {
    font-size: 20px
}
